<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
<% favResult.forEach(item=>{  %>
  <h3><%   item.charNam    %></h3>
 <p><%   item.charHouse   %></p>
 <% })  %>
 

    </div>
    <a href="/views/detail-page.ejs">For More details </a>
    
</body>
</html>